ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 0px;
}

li{
    text-align: center;
    list-style-type:none;
    margin: 10px 5px;
    padding: 20px;
    background-color: rgb(157, 157, 157);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
}

a {
    text-decoration: none;
    color: rgb(68, 68, 68);
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}