
.heading > h1{
    display: flex;
    justify-content: right;
}

.badge {
    width: 80px;
    height: 80px;
    font-size: 30px;
    padding-top: 25px;
    border-radius: 60px;
    background-color:black !important;
}

.border-date{
    border: 1px solid;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    background-color: grey;
    color: white;
}

.clock-time {
    text-align: center;
}

a{
    text-decoration: none;
    color: rgb(68, 68, 68);
    font-weight: bold;
}

.main-row{
    border-bottom: solid 1px;
    padding: 5px 0px;
}